@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Zen+Maru+Gothic:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

[data-theme="light"] {
    --color-primary: #0086bf;
    --color-primary-content: #ffffff;
}

[data-theme="dark"] {
    --color-primary: #0086bf;
    --color-primary-content: #ffffff;
}

:root {
    color-scheme: light;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    background: #ffffff;
}

button,
input,
select,
textarea {
    font: inherit;
}
